:global {
  $target-height: 24px;
  .anyform-tree-insert-target {
    

    &.show {
      box-sizing: border-box;
      width: 100%;
      height: 0;
      position: absolute;
      z-index: 1;
      display: block;
      //border: 1px solid grey;

      height: $target-height;

      bottom: -$target-height / 2;
      &.insertBefore {
        top: -$target-height / 2;
        bottom: auto;
      }
    }
  
    &.hovering {
      .marker {
        box-sizing: border-box;
        margin-top: $target-height / 2 - 1;
        width: 100%;
        height: 3px;
        border-radius: 2px;
        background: linear-gradient(90deg, gray, white);
        align-self: center;
      }
    }
  }
}

:global {
  .treeView {
    font-family: Verdana;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
  }
  
  .nodeList {
    border-left: 1px solid lightgray;
    border-top: 1px solid lightgray;
  }
  
  .node {
    border-bottom: 1px solid lightgray;
  }
  
  .nodeItem {
    padding: 5px;
  }
  
  .nodePositioningWrapper:last-child > .node {
    border-bottom: none;
  }
  
  .nodeDragging {
    color: #eeeeee;
  }
  
  .nodeChildren {
    margin-left: 20px;
  }
}
